<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BFButtonDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8A40DDF1D5B04D7008F98D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A40DF81D5B04D8008F98D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A40E031D5B04D8008F98D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
